/*
 * Test border
 */
div.graph, div#caption {
	border: 1px solid gray;
	border-top: 0;
/*	border: 1px solid red;*/
}

body {
	font-family: "Lucida Grande", Helvetica, Arial, "MS Trebuchet", sans-serif;
}

h1, h3.desc {
	text-align: center;
	font-weight: 100;
}

h3.desc {
	border: 1px solid gray;
	margin: 0;
}

.key_desc, .value_desc {
	margin-right: 0.5em;
}

div.graph {
	padding: 0 15px 0 0;
	overflow-x: scroll;
}

svg {
	height: 150px;
	width: 16016px;
}

text.desc {
	baseline-shift: -16;
	fill: #FFF;
	font-size: 8pt;
	text-anchor: middle;
	writing-mode: tb;
}

#caption {
	padding: 15px;
}

.color {
	color: #FFF;
	margin: 5px;
	padding: 5px;
}

#humidity {
	background-color: #009DE0;
}

#temperature {
	background-color: #FF7920;
}
