div#caption {
	border: 1px solid gray;
}

body {
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
}

h1, h3.desc {
	font-weight: 100;
	text-align: center;
}

h3.desc {
	border: 1px solid gray;
	margin: 0;
}

.key_desc, .value_desc {
	margin-right: 0.5em;
}

#graphs {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	overflow-x: scroll;
	overflow-y: hidden;
}

div.time svg {
	height: 41px;
}

div.graph svg {
	height: 150px;
	margin: -3px 0px;
}

text.desc, text.time {
	fill: #FFF;
	font-size: 50%;
	text-anchor: middle;
/*	writing-mode: tb; Sad panda. ;( */
}

#caption {
	padding: 10px;
	line-height: 220%;
}

.color {
	color: #FFF;
	margin: 0.4%;
	padding: 0.4%;
}

.month {
	background-color: #424242;
	fill: #424242;
}

.day {
	background-color: #757575;
	fill: #757575;
}

.hour {
	background-color: #CCCCCC;
	fill: #CCCCCC;
}

.humidity {
	background-color: #009DE0;
	fill: #009DE0;
}

.temperature {
	background-color: #FF7920;
	fill: #FF7920;
}

#numberOfUpdates {
	display: block;
	float: right;
	text-align: right;
}
