/*
 * Test border
 */
div.graph, div#caption {
	border: 1px solid gray;
	border-top: 0;
/*	border: 1px solid red;*/
}

body {
	font-family: Helvetica, Arial, "MS Trebuchet", sans-serif;
}

h1, h3.desc {
	font-weight: 100;
	text-align: center;
}

h3.desc {
	border: 1px solid gray;
	margin: 0;
}

.key_desc, .value_desc {
	margin-right: 0.5em;
}

div.graph {
	overflow-x: scroll;
	overflow-y: hidden;
}

svg {
	height: 125px;
	margin: -3px 0px;
}

text.desc {
	baseline-shift: -16;
	fill: #FFF;
	font-size: 8pt;
	text-anchor: middle;
	writing-mode: tb;
}

#caption {
	padding: 10px;
	line-height: 220%;
}

.color {
	color: #FFF;
	margin: 0.4%;
	padding: 0.4%;
}

#humidity {
	background-color: #009DE0;
}

#temperature {
	background-color: #FF7920;
}

#numberOfUpdates {
	display: block;
	float: right;
	text-align: right;
}
